* { 
		margin: 0;
		padding: 0;
}

header {
	background-image: url(backgrnd4.jpg);
	background-attachment:fixed;
    background-position: center center;
    background-image: cover;
    overflow: hidden;
	width: 100%;
	height: 1000px;
	min-height: 500px;
	background-size: cover;  
	}	

.name {
	font-family: "Open Sans";
	color: white;
	font-size: 90px;
	font-weight: 300;
	text-shadow: 1px 1px 5px #66666666;
	text-align: center;
	line-height: 200px;
    height: 200px;
    width: 100%;
    margin-top:200px;
}



.more-about {
	font-family: "Open Sans";
	color: white;
	opacity: 0.9;
	border: 0.5px solid white;
	width: 230px;
	padding: 5px;
	margin: 0px auto;
	font-size: 20px;
	font-weight: 100;
	text-shadow: 5px 5px 5px #66666666;
	text-align: center;
    
}

.static-nav {
	width: 100%;
	overflow: hidden;
	z-index:30;
	position: relative;

}


.static-nav a { 
	float: left;
	display: inline;
	color: #ddd;
	text-align: center;
	width: 110px;
	padding: 16px 0px;
	text-decoration: none;
	font-size: 17px;
	font-weight: 100;
	font-family: "Open Sans";

}
.static-nav div {
	width: 440px;
	margin: 0 auto;
}
#about {
	margin: 0 0;
	padding: 10px;

}
#about img {
/*	min-width:200px;*/  
	height: 35%;
	width: 35%;
	margin-left: 50%;
    border-radius: 50%;
}

#about .image {
	height: 100%;
	width: 35%;
	margin: 0;
	display: inline-block;
}
#about .desc {
	height: 100%;
	width: 55%;
	display: inline-block;
	/*min-width:200px;*/
/*    border: solid 1px black;*/    

}

#about h2 {
	font-family: "Open Sans";
	width: 120px;
	text-align: left;
	padding: 10px;
}

#about p {
	height: 100%;
	width: 100%;
	text-align: left;
	padding: 15px;
	font-family: "Open Sans";
	font-size: 18px;
}

li:hover {
	opacity: 0.5;
}

a:link, a:visited {
	text-decoration: none;
	color: white; 
}



.menu-toggle {
	color:white;
	float: right;
	line-height: 50px;
	font-size: 24px;
}



/*new styles*/
.topnav {
	overflow: hidden;
	z-index:30;
	position: fixed;
	width: 100%;
	background-color: grey;

}

.topnav div {
	width: 440px;
	margin: 0 auto;
}

.topnav a {
	float: left;
	display: inline;
	color: #ddd;
	text-align: center;
	width: 110px;
	padding: 16px 0px;
	text-decoration: none;
	font-size: 17px;
	font-weight: 100;
	font-family: "Open Sans";
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.active {
	background-color: #4CAF50;
	color: white;
}

.topnav .icon, .static-nav .icon {
	display: none;
} 

@media screen and (max-width: 600px) {
	.topnav a, .static-nav a {
		display: none;
		
	}

	.topnav a.icon, .static-nav a.icon{
		float: right;
		display: block;
	}

	.topnav div, .static-nav div{
		width: 100%;
	}

	.name {
		font-size: 58px;

	}

	.more-about {
		font-size: 15px;
		width:170px;
		padding: 5px 3px;
	}

}

@media screen and (max-width: 600px) {
	.topnav.responsive{
		overflow: hidden;
		z-index:30;
		position: fixed;
		width: 100%;
		background-color: grey;	

	}

	.static-nav.responsive {
		overflow: hidden;
		z-index:30;
		position: fixed;
		width: 100%;
		background-color: grey;
	

	}
	.topnav.responsive .icon, .static-nav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a, .static-nav.responsive a{
		float: none;
		display: block;
		margin: 0 auto;
		text-align: center;
		opacity: 1;
	}

	#about .desc {
		display: block;
	}

}



#contact {
	height: 1000px;
	overflow: hidden;
	text-align: center;
	margin: 0 auto;
	padding: 10px;
}

#contact a{
	z-index: 30;
}

#contact h2 {
	font-family: "Open Sans";
	width: 200px;
	text-align: center;
	margin: 0 auto;
	padding: 10px;
}

 #contact .wrapper {
	display: table;
	position: absolute;
	width: 300px;
	margin: 0px auto;
}

#contact .wrapper i {
	padding: 5px;
}


#contact .wrapper a:nth-child(1) {
  color: #0077B5;

}

#contact .wrapper a:nth-child(2) {
  color: #DD4B39;

}

#contact .wrapper a:hover {
    opacity: 0.7;
}



